@use '../variables' as *;
@use '../functions' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  padding: rem(14) rem(64);
  font-family: inherit;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover,
  &:focus-visible {
    opacity: 0.85;
  }

  &--primary {
    color: $text-primary;
    background-color: $bg-page;
  }

  &__icon {
    flex-shrink: 0;
    width: rem(20);
    aspect-ratio: 1;
    height: auto;
  }
}
