@use 'variables' as *;
@use 'fonts';
@use 'theme';
@use 'components/header';
@use 'components/button';
@use 'components/hero';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  color: var(--text-primary);
  background: var(--bg-page);
}
